.sidebar {
  height: 100%;
  width: 63px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: tomato;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 36px;
  margin-left: 55px;
}
.sidebar .opt {
  position:relative;
  left:250px;
}


#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
/* for image sliding*/
@keyframes move {
0% {
  top: -20%;
}
100% {
  top: 1%;
}
}

.img1 {
position: relative;
animation-name: move;
animation-duration: 2.5s;
animation-fill-mode: forwards;
}