.sidebar {
  height: 100%;
  width: 63px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000000;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: tomato;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 36px;
  margin-left: 55px;
}
.sidebar .opt {
  position:relative;
  left:250px;
}


#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
/* for image sliding*/
@keyframes mover {
0% {
  top: -20%;	
  opacity: 0%;	
}
25% {
  opacity: 0%;
}
100% {
  top: 1%;
  opacity: 100%;
}
}

@keyframes move_ {
0% {
  top:50%;
  opacity: 0%;
}
55% {
  opacity: 0%;
}
100% {
  top:-30%;
  opacity: 100%;
}
}

@keyframes _move {
0% {
  top:60%;
  opacity: 0%;
}
55% {
  opacity: 0%;
}
100% {
  top:-28%;
  opacity: 100%;
}
}

@keyframes textup {

0% {
  bottom:-40px;
  opacity: 0%;
}

100% {
  bottom: 0px;
  opacity: 100%;
}

}

@keyframes textup1 {

0% {
  bottom:-80px;
  opacity: 0%;
}

100% {
  bottom: 0px;
  opacity: 100%;
}

}

.htxt {
font-size: 30px;
font-weight: 600;
position: relative;
animation-name: textup;
animation-duration: 1.25s;
}

.txt {
position: relative;
animation-name: textup1;
animation-duration: 1.25s;
}

.img1 {
position: relative;
animation-name: mover;
animation-duration: 2s;
animation-fill-mode: forwards;
}

.img2 {
position: relative;
animation-name: _move;
animation-duration: 2s;
animation-fill-mode: forwards;
}

.img3 {
position: relative;
animation-name: move_;
animation-duration: 2s;
animation-fill-mode: forwards;
}

.intrnl_body {
/* padding-left: 100px; */
width: 100%;
padding-top: 30px;
}

.block3 {
padding-top: 30px;
padding-bottom: 30px;
padding-left: 90px;
background-color: #131112;
color: white;
}

.block4 {
padding-top: 30px;
padding-bottom: 30px;
padding-left: 63px;
}

.block5 {
padding-top: 27px;
padding-bottom: 30px;
background-color: #292929;
}

.block6 {
height: 45px;
background-color: #131112;
}

.col-md-2  h4{
color: #e0e0e0;
}

.col-md-2 li{
color: #7d7d7d;
}
.col-md-2 p{
color: #7d7d7d;
}
.block5 .col-md-6 {
color: #e0e0e0;
padding-left: 120px;
}
.block5 .col-md-6 img {
/* background-color: #e0e0e0; */
height: 40px;
}

.carousel-item img {
height: 540px;
}