{% extends "login_auth/base.html" %}
{% block title %} People_ify {% endblock %}
{% block style %} 
    <link rel="stylesheet" href="{{ static('login_auth/login.css') }}"/>
    <script src="{{ static('login_auth/js/login.js') }}"></script>
{% endblock %}
{% block body %}
<div id="mySidebar" class="sidebar block1">
        <a href="#" class="closebtn">☰</a>
        <!-- <a class="opt" href="#">About</a>     -->
        <a class="opt" href="{{ url('index') }}">Home Page</a> 
        <a class="opt" href="{{ url('register_view') }}">Sign Up</a>   
        <!-- <a class="opt" href="#">Contact</a>      -->
    </div>
    <div class="block2">
        <div class="row">
            <div class="col-md-6 sidecover">
                <img src="{{ static('login_auth/images/signin2.jpg') }}" alt="sidecover" style="width: 111%;"/ >
                <!-- style="height: 650px; width: 100%;" -->
            </div>  
            <div class="col-md-6">
                <div class="container loginBocx">     
                    <br><br><br><br><br>                        
                    <img class="loginBocx" src="{{ static('login_auth/images/LOGO.png') }}" alt="People_ify" style="width: 55%; padding-left: 100px; float:inline-start;">  
                    <br><br><br>  
                                  
                    <form class="form-signup" id="form"> 
                        <span class="loginBocx">Crafted for the people who care about People.</span>
                        <br><br>
                        <div id="message">                        
                            <!--filled by JS-->
                        </div>
                        <br><br>
                        <div class="form-label-group">
                            <input type="text" id="label-uname" class="form-control b1" style="height: 50px; padding-left: 20px;" placeholder="Username" required />
                            <label for="label-email">Username</label>
                        </div>                            
                        <div class="form-label-group">
                            <input type="password" id="label-password" class="form-control b1" style="height: 50px; padding-left: 20px;" placeholder="Password" required />
                            <label for="label-password">Password</label>
                        </div>          
                        <button class="btn btn-lg btn-dark btn-block b1" type="submit">Sign in</button>               
                    </form>
                </div>
            </div>
        </div>
        <div class="row footR"> </div>
    </div>
{% endblock %}