{% extends "album_collection/layout.html" %}
{% block title %} My Albums {% endblock %}
{% block style %}
    <link rel="stylesheet" href="{{ static('album_collection/upload.css') }}">
    <script src="{{ static('album_collection/upload.js') }}"></script>
{% endblock %}

{% block body %}
    <div >
        <form id="fileform" class="form-inline" enctype=multipart/form-data action="{{ url_for('upload_file') }}" method="POST"><!--  -->
            <fieldset>
                <h5>Select a file:</h5>
                <input name="file" type="file">
            </fieldset>
            <fieldset>
                <input type=submit value=Upload>
            </fieldset>
        </form>
    </div>
{% endblock %}